@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653739018552') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e628";
}

.icon-top:before {
  content: "\e61e";
}

.icon-bottom:before {
  content: "\e625";
}

.icon-top1:before {
  content: "\e626";
}

.icon-jump_to_bottom:before {
  content: "\e6f9";
}

.icon-doubleright:before {
  content: "\e7ed";
}

.icon-toBottom:before {
  content: "\e63d";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-arrow-left:before {
  content: "\e743";
}

.icon-loading:before {
  content: "\e756";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-arrow-double-left:before {
  content: "\e666";
}

.icon-biangengguanli:before {
  content: "\e7d4";
}

.icon-chaxunguanli:before {
  content: "\e7d5";
}

.icon-tianjiawenjian:before {
  content: "\e7d7";
}

